---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import ClassroomButton, {
  ClassroomButtonColor,
} from "../components/ClassroomButton.astro";
---

<Layout title="Tuwaiq Classrooms">
  <div
    class="flex h-screen flex-col justify-center py-5 text-center"
    aria-label="Tuwaiq's corners buttons"
  >
    <div class="flex h-screen flex-col items-center justify-center gap-y-6">
      <h1
        class="font-cairo text-[42px] font-bold transition-all duration-500 ease-in-out lg:text-7xl"
      >
        <span class="text-orangee">Tuwaiq</span> Classrooms<span
          class="text-orangee"
        >
          Availability
        </span>
      </h1>
      <p class="text-2xl transition-all duration-500 ease-in-out lg:text-5xl">
        <span class="font-bold">Find</span>
        <span class="text-orangee">Empty Rooms</span> Easily<span
          class="text-orangee">!</span
        >
      </p>
    </div>
    <div class="group mt-auto flex flex-col justify-center p-2">
      <a
        href="#main-section"
        class="text-2xl font-bold transition-all ease-in-out hover:scale-110 group-hover:text-orangee"
        aria-label="scroll down">Scroll Down</a
      >
      <Icon
        name="ic:round-keyboard-arrow-down"
        class="h-10 group-hover:text-orangee"
      />
    </div>
  </div>
  <main class="flex min-h-screen flex-col justify-center p-6" id="main-section">
    <div class="my-auto">
      <p class="mb-5 text-center font-cairo text-4xl font-black">
        The Corners of Tuwaiq
      </p>
      <div class="grid md:grid-cols-2">
        <ClassroomButton
          text="E Corner"
          color={ClassroomButtonColor.paleBlue}
          href="/corners/E"
          aria-label="Corner E button"
        />
        <ClassroomButton
          text="F Corner"
          color={ClassroomButtonColor.paleRed}
          href="/corners/F"
          aria-label="Corner F button"
        />
        <ClassroomButton
          text="G Corner"
          color={ClassroomButtonColor.paleYellow}
          href="/corners/G"
          aria-label="Corner G button"
        />
        <ClassroomButton
          text="H Corner"
          color={ClassroomButtonColor.paleGreen}
          href="/corners/H"
          aria-label="Corner H button"
        />
      </div>
    </div>
    <footer class="text-center">
      <div class="mb-2 flex justify-center gap-x-3">
        <p class="text-lg font-bold">GDSC:</p>
        <a
          href="https://twitter.com/gdsc_yu"
          target="_blank"
          aria-label="Twitter button"
        >
          <Icon
            name="uil:twitter-alt"
            class="w-8 transition-all duration-400 hover:text-twitter-color"
          />
        </a>
        <a
          href="https://www.instagram.com/gdsc_yu/"
          target="_blank"
          aria-label="Instgram button"
        >
          <Icon
            name="mdi:instagram"
            class="w-8 transition-all duration-400 hover:text-dark-pink"
          />
        </a>
        <p class="text-lg font-bold">|</p>
        <p class="text-lg font-bold">IEC:</p>
        <a
          href="https://twitter.com/ieclub_yu"
          target="_blank"
          aria-label="Twitter button"
        >
          <Icon
            name="uil:twitter-alt"
            class="w-8 transition-all duration-400 hover:text-twitter-color"
          />
        </a>
        <a
          href="https://www.instagram.com/ieclub_yu/"
          target="_blank"
          aria-label="Instgram button"
        >
          <Icon
            name="mdi:instagram"
            class="w-8 transition-all duration-400 hover:text-dark-pink"
          />
        </a>
      </div>
      <p class="font-cairo text-xl font-semibold hover:scale-110 md:text-2xl">
        Made With ❤️ By The GDSC & IEC Team
      </p>
    </footer>
  </main>
</Layout>
