---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import ClassroomButton, {
  ClassroomButtonColor,
} from "../components/ClassroomButton.astro";
---

<Layout title="Tuwaiq Classrooms">
  <div
    class="h-screen text-center flex flex-col justify-center"
    style="background: linear-gradient(93.48deg, #BBDEFB -28.39%, #FFECB3 137.15%);"
  >
    <p
      class="transition-all duration-700 ease-in-out font-cairo font-bold text-4xl lg:text-6xl"
    >
      Tuwaiq Classrooms Availability
    </p>
    <p
      class="transition-all duration-700 ease-in-out text-2xl lg:text-4xl mt-2 lg:mt-6"
    >
      <span class="font-bold">Find</span> empty classrooms easily!
    </p>
    <div class="self-center absolute bottom-0 flex flex-col">
      <a
        href="#main-section"
        class="transition-all duration-400 hover:text-orange ease-in-out font-semibold text-md lg:text-xl"
        >Scroll Down</a
      >
      <Icon name="ic:round-keyboard-arrow-down" class="opacity-30 h-10" />
    </div>
  </div>
  <main class="flex flex-col mt-10 mb-10" id="main-section">
    <p class="font-cairo font-black text-4xl text-center mb-5">
      Classrooms Letters
    </p>
    <div class="grid md:grid-cols-2">
      <ClassroomButton
        text="E Classrooms"
        color={ClassroomButtonColor.paleBlue}
        href="/classrooms/E"
      />
      <ClassroomButton
        text="F Classrooms"
        color={ClassroomButtonColor.paleRed}
        href="/classrooms/F"
      />
      <ClassroomButton
        text="G Classrooms"
        color={ClassroomButtonColor.paleYellow}
        href="/classrooms/G"
      />
      <ClassroomButton
        text="H Classrooms"
        color={ClassroomButtonColor.paleGreen}
        href="/classrooms/H"
      />
    </div>
  </main>
</Layout>
