---
export enum ClassroomButtonColor {
  paleYellow = "bg-pale-yellow",
  paleRed = "bg-pale-red",
  paleGreen = "bg-pale-green",
  paleBlue = "bg-pale-blue",
}

interface Props {
  text: string;
  color: ClassroomButtonColor;
  href: string;
}

const { text, color, href } = Astro.props;
---

<a
  href={href}
  class={`${color} rounded-[16px] mx-4 my-5 py-8 hover:scale-90 transition-all duration-400`}
  aria-label="corners buttons"
>
  <p class="text-center text-2xl font-bold">
    {text}
  </p>
</a>
