---
import GoogleButton from "../components/ui/GoogleButton.astro";
import { GoogleColor } from "../data/data";
import Footer from "../components/ui/Footer.astro";

const corners = [
  {
    name: "E Corner",
    href: "/corners/E",
    color: GoogleColor.Blue,
  },
  {
    name: "F Corner",
    href: "/corners/F",
    color: GoogleColor.Red,
  },
  {
    name: "G Corner",
    href: "/corners/G",
    color: GoogleColor.Yellow,
  },
  {
    name: "H Corner",
    href: "/corners/H",
    color: GoogleColor.Green,
  },
];
---

<section
  id="Corners"
  class="relative flex h-screen flex-col items-center justify-center gap-y-5 text-center"
>
  <!-- Title -->
  <h1 class="px-3 text-5xl font-bold md:text-7xl">
    The Corners of <span class="text-yu-orange-dark">Tuwaiq!</span> 🌄
  </h1>
  <!-- Corners Buttons -->
  <div
    class="grid w-full grid-cols-1 justify-items-center gap-4 p-10 md:grid-cols-2"
  >
    {
      corners.map((corner) => {
        return (
          <GoogleButton
            text={corner.name}
            href={corner.href}
            color={corner.color}
            ariaLabel={corner.name}
          />
        );
      })
    }
  </div>
  <!-- Footer -->
  <Footer />
</section>
