---
import GoogleButton from "../components/ui/GoogleButton.astro";
import { GoogleColor } from "../data/data";
import Footer from "../components/ui/Footer.astro";
---

<section
  id="Corners"
  class="relative flex h-screen flex-col items-center justify-center gap-y-5 text-center"
>
  <!-- Title -->
  <h1 class="text-3xl font-bold md:text-5xl lg:text-7xl">
    The Corners of <span class="text-yu-orange-dark">Tuwaiq</span> 🌄
  </h1>
  <!-- Corners Buttons -->
  <div
    class="grid w-full grid-cols-1 justify-items-center gap-4 p-10 md:grid-cols-2"
  >
    <GoogleButton text="E Corner" href="/corner/E" color={GoogleColor.Blue} />
    <GoogleButton text="F Corner" href="/corner/F" color={GoogleColor.Red} />
    <GoogleButton text="G Corner" href="/corner/G" color={GoogleColor.Yellow} />
    <GoogleButton text="H Corner" href="/corner/H" color={GoogleColor.Green} />
  </div>
  <!-- Footer -->
  <Footer />
</section>
