.navigation-wrapper {
  @apply relative;
}

.dots {
  @apply flex justify-center;
  padding: 10px 0;
}

.dot {
  @apply cursor-none rounded-full border-none bg-white/60 p-1 focus:outline-none dark:bg-slate-900/60;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.dot.active {
  @apply bg-slate-900 dark:bg-white;
}
