---
import { Icon } from "astro-icon";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&family=Roboto:wght@300;400;700;900&display=swap");
    </style>
  </head>
  <body class="bg-pale-beige flex min-h-screen flex-col">
    <slot />
    <footer class="text-center mt-auto">
      <div class="flex justify-center mb-2">
        <a href="https://twitter.com/gdsc_yu" target="_blank">
          <Icon
            name="mdi:twitter"
            class="w-8 mr-2 transition-all duration-400 hover:text-orange"
          />
        </a>
        <a href="https://www.instagram.com/gdsc_yu/" target="_blank">
          <Icon
            name="mdi:instagram"
            class="w-8 transition-all duration-400 hover:text-orange"
          />
        </a>
      </div>
      <p class="text-xl font-cairo">Made With ❤️ By The GSDC Team</p>
    </footer>
  </body>
</html>
