---
import { Icon } from "astro-icon";
---

<footer
  role="complementary"
  class="absolute bottom-0 pb-5"
  aria-label="Credits"
>
  <div class="mb-2 flex justify-center gap-x-3">
    <!-- GDSC Links -->
    <p class="font-bold md:text-lg" aria-label="GDSC YU Club Social Accounts">
      GDSC:
    </p>
    <!-- Twitter -->
    <a
      href="https://twitter.com/gdsc_yu"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GDSC YU Twitter Icon Link"
    >
      <Icon name="uil:twitter-alt" class="hover:text-twitter-blue" />
    </a>
    <!-- Instagram -->
    <a
      href="https://www.instagram.com/gdsc_yu/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GDSC YU Instagram Icon Link"
    >
      <Icon name="uil:instagram" class="hover:text-instagram-pink" />
    </a>
    <!-- GitHub -->
    <a
      href="https://github.com/GDSC-YU"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GDSC YU GitHub Icon Link"
    >
      <Icon name="uil:github" class="hover:text-github-purple" />
    </a>
    <!-- Seperator -->
    <p class="font-bold md:text-lg" aria-label="Seperator">|</p>
    <!-- IEC Links -->
    <p class="font-bold md:text-lg" aria-label="IEC YU Club Social Links">
      IEC:
    </p>
    <!-- Twitter -->
    <a
      href="https://twitter.com/ieclub_yu"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="IEC YU Twitter Icon Link"
    >
      <Icon name="uil:twitter-alt" class="hover:text-twitter-blue" />
    </a>
    <!-- Instagram -->
    <a
      href="https://www.instagram.com/ieclub_yu/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="IEC YU Instagram Icon Link"
    >
      <Icon name="uil:instagram" class="hover:text-instagram-pink" />
    </a>
  </div>
  <p
    class="text-xl font-semibold transition-all duration-200 md:text-2xl md:hover:scale-110"
    aria-label="Made With Love By The GDSC Team"
  >
    Made With ❤️ By The GDSC Team
  </p>
</footer>

<style>
  svg {
    @apply h-6 transition-all duration-200 hover:scale-110 md:h-7;
  }
</style>
