---
import type { GoogleColor } from "../../assets/data/data";
interface Props {
  text: string;
  color: GoogleColor;
  href: string;
  ariaLabel: string;
}

const { text, color, href, ariaLabel } = Astro.props;
---

<a href={href} rel="prefetch" class={color} aria-label={ariaLabel}>
  <span class="text-2xl font-bold">
    {text}
  </span>
</a>

<style>
  a {
    @apply w-11/12 rounded-2xl py-9 text-center transition duration-300 ease-in-out hover:scale-110 md:w-5/6;
  }
</style>
