<div class="inline-flex gap-x-2">
  <a
    href="https://gdscyu.com/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GDSC Al-Yamamah's Logo - Click To Visit Website"
  >
    <img src="/logos/GDSC.png" alt="GDSC Logo" />
  </a>
  <a
    href="https://yu.edu.sa/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Al-Yamamah Univeristy Logo - Click To Visit Website"
  >
    <img src="/logos/Yu.png" alt="Yu Logo" />
  </a>
  <a
    href="https://linkedin.com/company/ieclub-yu/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="IEC Al-Yamamah's Logo - Click To Visit LinkedIn"
  >
    <img src="/logos/IEC.png" alt="IEC Logo" />
  </a>
</div>

<style>
  a img {
    @apply h-16 transition-all duration-200 hover:scale-125 md:h-20;
  }
</style>
